<div class="container">
  <div class="text-center mb-5">
    <h1>Lista de tareas</h1>
    <h5>Con Angular</h5>
  </div>

  <!-- Lista de tareas -->
  <div class="list-group" class="mat-elevation-z2">
    <div *ngFor="let task of getTasks()" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ task.titulo }}</h5>
        <div *ngIf="!task.realizada"> <!-- Acciones de la tarea -->
          <a href="#" (click)="taskCompleted(task)"><i class="material-icons iconGreen">done</i></a>
          <a href="#" (click)="deleteTask(task)"><i class="material-icons iconRed">delete</i></a>
        </div>
        <small *ngIf="task.realizada">Completada</small>
      </div>
      <p class="mb-1">{{ task.descripcion }}</p>
    </div>
  </div>
  <div class="text-right mt-3">
    <mat-checkbox labelPosition="before" [(ngModel)]="tasksCompleted">Mostrar completados</mat-checkbox>
  </div>

</div>